
@{
    ViewData["Title"] = "Membership";
}

<h1>Membership</h1>

<div>
    New user -
    <a class="nav-link text-dark" asp-area="" asp-controller="" asp-action="">Membership</a>
    Existing user -
    <a class="nav-link text-dark" asp-area="" asp-controller="" asp-action="">Upgrade Membership</a>
</div>