@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>This Application is for Order Processing. In this application we are accepting random mixture of manual and ad-hoc automated business practices to handle orders. Application should capable of handling manual as well as automated orders.</p>
</div>
